body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: rgb(82, 219, 221);
    height: 100vh; /*viewheigth % of the screen*/
    position: relative;
}
#player {
    background-color: blueviolet;
    position: absolute;
   
}

.obstacle {
    background-color: black;
    position: absolute;
}